# ニコニコ動画の設定
# quality: default or premium
nv:
  mail: foo@bar.com
  password: baz
  quality: premium

# データベースの設定
db:
  host: "127.0.0.1"
  port: 3306
  user: foo
  password: bar
  database: nicokako

# サイトの設定
application_title: NicoKako
application_url: http://foo.bar.com/

# ダウンロードしたファイルの保存先（絶対パス）
contents_dir: /home/foo/www/public/contents
contents_dir_url: http://foo.bar.com/contents

# acdcli
acd_cli_cache_path: /opt
acd_cli_contents_dir: /kako.tondol.com
