# ニコニコ動画の設定
# quality: default or premium
nv:
  mail: fuga@hoge.com
  password: piyo
  quality: premium

# データベースの設定
db:
  host: "127.0.0.1"
  user: fuga
  password: piyo
  database: nicokako

# サイトの設定
application_title: NicoKako
application_url: http://fuga.hoge.com/

# ダウンロードしたファイルの保存先（絶対パス）
contents_dir: /home/fuga/nicokako/public/contents/
contents_url: http://fuga.hoge.com/contents/
